.vs/
.vscode/
bin/
obj/
output/
packages/
TimeWebApi/bin/
TimeWebApi/obj/
TimeWebApi/output/
TimeWebApi/packages/
TimeWebApi.IntegrationTests/bin/
TimeWebApi.IntegrationTests/obj/
TimeWebApi.IntegrationTests/output/
TimeWebApi.IntegrationTests/packages/
TimeWebApi.UnitTests/bin/
TimeWebApi.UnitTests/obj/
TimeWebApi.UnitTests/output/
TimeWebApi.UnitTests/packages/